@font-face {
  font-family: 'iconfont';  /* project id 407468 */
  src: url('https://at.alicdn.com/t/font_407468_8u59d1loxj3y2e29.eot');
  src: url('https://at.alicdn.com/t/font_407468_8u59d1loxj3y2e29.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_407468_8u59d1loxj3y2e29.woff') format('woff'),
  url('https://at.alicdn.com/t/font_407468_8u59d1loxj3y2e29.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_407468_8u59d1loxj3y2e29.svg#iconfont') format('svg');
}
.iconfont{

    font-family:"iconfont" !important;
    /* font-size:16px; */
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
   
}


/* 头部 */
header{
	width: 100%;
	height: .5rem;
	background: #fff;
	position: fixed;
	left: 0;
	top: 0;
	padding: 0 .15rem;
	border-bottom: 1px solid #eae7f2;
	z-index: 999;
}
.header-l{
	width: .25rem;
	height: .5rem;
	float: left;
	/* background:orange; */
}
.header-l i{
	font-size: .20rem;
	line-height: .5rem;
	text-align: center;
	float: left;
}
.header-l a{
	color: #333;
}


.header-cen{
	width: 2.95rem;
	/* display: block; */
	height: .45rem;
	font-size: .18rem;
	line-height: .5rem;
	/* text-align: center; */
	float: left;

}
.header-r i{
	float: right;
	font-size: .16rem;
	width: .32rem;
	line-height: .5rem;
	color: orangered;
}






/* 内容区 */
section{
	width: 100%;
	background: #f7f7f7;
	position: absolute;
	left: 0;
	right: 0;
	top: .5rem;
	
}
ul li{
	width: 100%;
	height: .49rem;
	background: #fff;
	border-bottom: 1px solid #eee;
	padding: 0 .15rem;
	font-size: .16rem;
	line-height: .49rem;
}
ul li:nth-child(5){
	height:.91rem;
	float: left;
}
ul li:nth-child(6){
	margin-top: 1.1rem;
	
}
ul li:nth-child(3) span{
	font-size: .16rem;
	line-height: .49rem;
	display: block;
	float: left;
}
ul li:nth-child(3) span:nth-child(2){
	font-size: .16rem;
	line-height: .49rem;
	display: block;
	float: right;
	margin-left: .05rem;
	color: #d9d9d9;
}
ul li:nth-child(4) span{
	font-size: .16rem;
	line-height: .49rem;
	display: block;
	float: left;
}
ul li:nth-child(4) span:nth-child(2){
	font-size: .16rem;
	line-height: .49rem;
	display: block;
	float: right;
	margin-right:-.67rem;
	
	color: #d9d9d9;
}

ul li:nth-child(6) span{
	float: left;
}
ul li:nth-child(6) span:nth-child(2){
	float: right;
	display: block;
}