@font-face {
  font-family: 'iconfont';  /* project id 407468 */
  src: url('http://at.alicdn.com/t/font_407468_lopkxk2soj62yb9.eot');
  src: url('http://at.alicdn.com/t/font_407468_lopkxk2soj62yb9.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_407468_lopkxk2soj62yb9.woff') format('woff'),
  url('http://at.alicdn.com/t/font_407468_lopkxk2soj62yb9.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_407468_lopkxk2soj62yb9.svg#iconfont') format('svg');
}
.iconfont{

    font-family:"iconfont" !important;
    /* font-size:16px; */
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
   
}

/* 头部 */
header{
	width: 100%;
	height: .45rem;
	background: #fff;
	position: fixed;
	left: 0;
	top: 0;
	padding: 0 .15rem;
	border-bottom: 1px solid #eae7f2;
	z-index: 999;
}.header-l{
	width: .25rem;
	height: .45rem;
	float: left;
	/* background:orange; */
}
.header-l i{
	font-size: .20rem;
	line-height: .45rem;
	text-align: center;
	float: left;
}
.header-cen{
	width: 2.95rem;
	/* display: block; */
	height: .45rem;
	font-size: .18rem;
	line-height: .45rem;
	text-align: center;
	float: left;

}



/* 内容区 */
section{
	width: 100%;
	background: #f7f7f7;
	position: absolute;
	left: 0;
	right: 0;
	top: .45rem;
	margin-bottom: .5rem;
}
.search{
	width: 100%;
	height: .51rem;
	background: #fff;
	padding: 0 .15rem;
	overflow: hidden;
	border-bottom: 1px solid #eee;
}
.search input{
	width: 2.76rem;
	height: .3rem;
	background: #f7f3f7;
	display: block;
	margin-top: .11rem;
	border: none;
	text-align:center;
	position: relative;
	float: left;
}
.search i{
	display: block;
	font-size: .18rem;
	line-height: .51rem;
	position: absolute;
	left:.9rem;
	top: 0;
	color: #989898;
}
.search span{
	float: right;
	font-size: .16rem;
	line-height: .51rem;
	color: #626362;
}
.search2{
	width: 100%;
	height: .43rem;
	background: #fff;
	padding: 0 .15rem;
}
.search2 a{
	font-size: .14rem;
	line-height: .43rem;
	float: left;
	margin-right:.27rem;
	color: #848484;
}
.search2 a:hover{
	color: orangered;
}
.search2 .mm{
	margin-right: 0;
	color: orangered;
}
.search3{
	width: 100%;
	height: .55rem;
	/* background: pink; */
	padding: 0 .15rem;
}
.search3-span1
{
	width: .75rem;
	height: .3rem;
	font-size: .14rem;
	line-height: .3rem;
	text-align: center;
	margin-top: .12rem;
	float: left;
	background: #Fff;
}
.search3-span1 i{
	font-size: .12rem;
}
.search3-span2{
	font-size: .14rem;
	float: right;
	line-height: .55rem;
	text-align: center;
	color: orangered;

}
/* 列表区 */
.list{
	width: 100%;
	background: #fff;
	overflow: hidden;
}
.list ul{
	width: 100%;
	height: 1.01rem;
	overflow: hidden;
	border-bottom: 1px solid #f5f5f5;
	/* background: gray; */
}

.list ul li{
	width: 100%;
	height: .82rem;
	/* background: yellowgreen; */
	margin-top: .09rem;
	padding: 0 .15rem;

}
.li-img{
	width: 1.1rem;
	height: .82rem;
	/* background: green; */
	float: left;
	line-height: .83rem;
}
.li-wenzi{
	width: 2.35rem;
	height: .83rem;
	
	float: right;
}
.li-wenzi span{
	
	font-size: .16rem;
	line-height: .16rem;
	float: left;
	display: block;
	margin-left:.11rem;
}
.li-wenzi .wenzi-s2{
	font-size: .14rem;
	color: #ceccce;
	margin-top:.09rem;
}
.li-wenzi .wenzi-s3{
	font-size: .16rem;
	color: orangered;
	margin-top:.2rem;
}


/* 底部区 */

footer{
	width: 100%;
	height: .50rem;
	background: #fff;
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 0 .16rem;
	border-top: 1px solid #f5f5f5;

}
footer ul li{
	width: .5rem;
	height: .5rem;
	/* background: orangered; */
	float: left;
	margin-right:.23rem;

}
footer ul li:hover{
	color: #4686ff;
}
footer ul li i:hover{
	color: #4686ff;
}


footer .foot-ico{
	margin-right: 0;
}

 footer ul li i{
 	width: 100%;
 	height: .24rem;
	display: block;
	font-size: .24rem;
	color: #000;
	line-height: .24rem;
	text-align: center;
	margin-top: .05rem;
}


 footer ul li span{
 	display: block;
 	font-size: .14rem;
 	text-align: center;
 	margin-top: .02rem;
 }
