@font-face {
  font-family: 'iconfont';  /* project id 407468 */
  src: url('http://at.alicdn.com/t/font_407468_o5ovq0fesxde7b9.eot');
  src: url('http://at.alicdn.com/t/font_407468_o5ovq0fesxde7b9.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_407468_o5ovq0fesxde7b9.woff') format('woff'),
  url('http://at.alicdn.com/t/font_407468_o5ovq0fesxde7b9.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_407468_o5ovq0fesxde7b9.svg#iconfont') format('svg');
}
.iconfont{

    font-family:"iconfont" !important;
    /* font-size:16px; */
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
   
}
/* 头部*/
header{
	width: 100%;
	height: 1.35rem;
	background:#fff;
	padding: 0 .18rem;
	/* background: #eee; */
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	border-bottom: 1px solid #f5f5f5;
}
 .header-top{
	width: 100%;
	height: .46rem;
	/* background: pink; */
}	
.header-top i{
	display: block;
	font-size: .24rem;
	float: right;
	line-height: .46rem;
	margin-left: .25rem;
}
.header-btom{
	width: 100%;
	height: .89rem;
	/* background: deeppink; */
}
.header-btom-l{
	width: .73rem;
	height: .73rem;

	background: url('../img/1.jpg');
	background-size: 100%;
	border-radius: 50%;
	float: left;
}
.header-btom-r{
	width: 200px;
	height: .73rem;
	font-size: .18rem;
	line-height: .73rem;
	float: left;
	margin-left: .2rem;
}





/* 内容区 */
section{
	width: 100%;
	background: #fffbff;
	position: absolute;
	left: 0;
	top: 1.35rem;
	margin-bottom: .45rem;
	right: 0;

}
.money{
	width: 100%;
	height: 1.48em;
	background: #fff;
	padding: 0 .15rem;
	margin-top: .1rem;
}
.money-top{
	width: 100%;
	height: .51rem;
	background-color: #fff;
}
.money-top-l{
	height: .51rem;
	float: left;
	font-size: .18rem;
	line-height: .51rem;

}
.money-top-r{
	height: .51rem;
	float: right;
	font-size: .12rem;
	line-height: .51rem;
	color: #ceccce;
}

.money-btom{
	width: 100%;
	height: .97rem;
	/* background-color: blue; */
}
.money-btom ul li{
	width: .94rem;
	height: .97rem;
	/* background-color: yellow; */
	float: left;
	margin-right:.31rem;
}
.money-btom .money-btom1{
	margin-right: 0;
}
.money-btom ul li span{
	width: .94rem;
	font-size: .16rem;
	float: left;
	line-height: .3rem;
	text-align: center;
	color: orange;
}
.money-btom .m-t{
	margin-top:.2rem;
}
.money-btom .m-b{
	font-size: .12rem;
	color: #000;
}
.money-btom .m-c{
	font-size: .1rem;
	color: #cbcacb;
	margin-top: -.12rem;
}

.car{
	margin-top: .1rem;
	padding: 0 .15rem;
}
/* 我的订单开始 */
.list{
	width: 100%;
	height: 1.6rem;
	background:#fff;
	padding: 0 .15rem;
	margin-top: .1rem;
}
.list li{
	width: .63rem;
	height: .72rem;
	/* background: red; */
	float: left;
	margin-right:.31rem;
	margin-bottom:.08rem;

}

.list .list-li4{
	margin-right: 0;
}

.list li i{
	width: .63rem;
	display: block;
	font-size: .26rem;
	line-height: .36rem;
	text-align: center;
	float: left;
} 
.list li span{
	font-size: .14rem;
	width: .63rem;
	line-height: .3rem;
	text-align: center;
	float: left;

}

.list1{
	width: 100%;
	height: .85rem;
	background:#fff;
	padding: 0 .15rem;
	margin-top: .1rem;
}
.dibu{
	width: 100%;
	height: 1.58em;
	background: #fff;
	padding: 0 .15rem;
}
.money-top-l i{
	width: .3rem;
	display: block;
	font-size: .24rem;
	line-height: .51rem;
	text-align: center;
	float: left;
	color: red;
}





/* 底部栏 */
footer{
	width: 100%;
	height: .50rem;
	background: #fff;
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 0 .16rem;
	border-top: 1px solid #f5f5f5;

}
footer ul li{
	width: .5rem;
	height: .5rem;
	/* background: orangered; */
	float: left;
	margin-right:.23rem;

}
footer ul li:hover{
	color: #4686ff;
}
footer ul li i:hover{
	color: #4686ff;
}


footer .foot-ico{
	margin-right: 0;
}

 footer ul li i{
 	width: 100%;
 	height: .24rem;
	display: block;
	font-size: .24rem;
	color: #000;
	line-height: .24rem;
	text-align: center;
	margin-top: .05rem;
}


 footer ul li span{
 	display: block;
 	font-size: .14rem;
 	text-align: center;
 	margin-top: .02rem;
 }
