@font-face {
  font-family: 'iconfont';  /* project id 407468 */
  src: url('http://at.alicdn.com/t/font_407468_w9ncqlev6ea8m2t9.eot');
  src: url('http://at.alicdn.com/t/font_407468_w9ncqlev6ea8m2t9.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_407468_w9ncqlev6ea8m2t9.woff') format('woff'),
  url('http://at.alicdn.com/t/font_407468_w9ncqlev6ea8m2t9.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_407468_w9ncqlev6ea8m2t9.svg#iconfont') format('svg');
}

.iconfont{

    font-family:"iconfont" !important;
    /* font-size:16px; */
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
   
}
/* 头部 */
header{
	width: 100%;
	height: .45rem;
	background: #fff;
	position: fixed;
	left: 0;
	top: 0;
	padding: 0 .15rem;
	border-bottom: 1px solid #eae7f2;
	z-index: 999;
}
.header-l{
	width: .25rem;
	height: .45rem;
	float: left;
	/* background:orange; */
}
.header-l i{
	font-size: .20rem;
	line-height: .45rem;
	text-align: center;
	float: left;
}
.header-l a{
	color: #000;
}
.header-cen{
	width: 2.95rem;
	/* display: block; */
	height: .45rem;
	font-size: .18rem;
	line-height: .45rem;
	text-align: center;
	float: left;

}
.header-r{
	float: right;
}









/* 内容区 */
section{
	width: 100%;
	background: #f7f7f7;
	position: absolute;
	left: 0;
	right: 0;
	top: .45rem;
	margin-bottom: .45rem;


}
/* banner开始 */
.banner{
	width: 100%;
	height: 3.89rem;
	background: #fff;

}
.banner-img{
	width: 100%;
	height: 2.82rem;
	background-image: url('../img/car3.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
.banner-img span{
	height: .2rem;
	background: rgba(0, 0, 0, .3);
	font-size: .14rem;
	line-height: .3rem;
	position: absolute;
	left: .16rem;
	bottom: .24rem;
	color: #666666;
}

.banner-btom{
	width: 100%;
	height: 1.07rem;
	padding: 0 .15rem;
	/* background: green; */
	margin-top: 0;
}

.banner-wenzi{
	width: 100%;
	height: .52rem;
	font-size: .18rem;
	line-height: .52rem;
	float: left;

}
.banner-btom1{
	width: 100%;
	height: .52rem;
	/* float: left; */
}
.banner-wenzi1{
	display: block;
	height: .52rem;
	font-size: .20rem;
	color: orangered;
	float: left;
	line-height: .52rem;

} 
.banner-wenzi1 a{
	font-size: .12rem;
	line-height: .52rem;
	color: #333;

}
.banner-span{
	display: block;
	height: .52rem;
	font-size: .14rem;
	color: orangered;
	float: right;
	line-height: .52rem;
}

/* 基础信息 */
.jichu{
	width: 100%;
	height: 2.26rem;
	background: #fff;
	margin-top: .1rem;
	overflow: hidden;
}
.jichu1{
	width: 100%;
	height: .45rem;
	font-size: .16rem;
	overflow: hidden;
	

}
.jichu1 span{
	display: block;
	width: 100%;
	height: .18rem;
	font: .16rem;
	line-height: .18rem;
	border-left:.03rem solid #000;
	margin-top:.14rem;
	margin-left: 0;

}
.jichu2{
	width: 100%;
	height: 1.34rem;
	/* background: blue; */
	border-top: .02rem solid #f2f2f2;
	border-bottom: .02rem solid #f2f2f2;
}
.jichu2 ul li{
	width: 1.05rem;
	height: .56rem;
	/* background: pink; */
	float: left;
	margin-top: .09rem;
	margin-right: .3rem;
}
.jichu2 ul li h2{
	font-size: .14rem;
	color: #545554;
	margin-top: .1rem;
	line-height: .14rem;
	text-align: center;
}

.jichu2 ul li h3{
	font-size: .12rem;
	color: #b4b1b4;
	margin-top: .08rem;
	line-height: .12rem;
	text-align: center;


}
.jichu2 .jichu-li3{
	margin-right: 0;
}
.jichu3{
	width: 100%;
	height: .45rem;
}
.jichu3 a{
	display:block;
	font-size: .16rem;
	line-height: .45rem;
	text-align: center;
	color: #000;
}

/* 底部区 */
footer{
	width: 100%;
	height: .45rem;
	background: hotpink;
	position: fixed;
	left: 0;
	bottom: 0;
}
.foot-l{
	width: 1.87rem;
	height: .45rem;
	background: orange;
	float: left;
	font-size: .18rem;
	line-height: .45rem;
	text-align: center;
	color: #fff;
}
.foot-r{
	background: orangered;
}