@font-face {
  font-family: 'iconfont';  /* project id 407468 */
  src: url('http://at.alicdn.com/t/font_407468_o6pattftz6r2uik9.eot');
  src: url('http://at.alicdn.com/t/font_407468_o6pattftz6r2uik9.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_407468_o6pattftz6r2uik9.woff') format('woff'),
  url('http://at.alicdn.com/t/font_407468_o6pattftz6r2uik9.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_407468_o6pattftz6r2uik9.svg#iconfont') format('svg');
}
.iconfont{

    font-family:"iconfont" !important;
    /* font-size:16px; */
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
   
}
/* 头部*/

header{
	width: 100%;
	height: .45rem;
	background: #fff;
	position: fixed;
	left: 0;
	top: 0;
	padding: 0 .15rem;
	border-bottom: 1px solid #eae7f2;
	z-index: 999;
}

header a{
	color: #000;
}

.header-l{
	width: .25rem;
	height: .45rem;
	float: left;
	/* background:orange; */
}
.header-l i{
	font-size: .20rem;
	line-height: .45rem;
	text-align: center;
	float: left;
}
.header-cen{
	width: 2.95rem;
	/* display: block; */
	height: .45rem;
	font-size: .18rem;
	line-height: .45rem;
	text-align: center;
	float: left;

}




/* 内容区 */
section{
	width: 100%;
	background: #f7eff7;
	position: absolute;
	left: 0;
	top: .45rem;
	margin-bottom: .45rem;
	right: 0;
	/* padding: 0 .15rem; */
}
section ul li{
	width: 100%;
	height: .53rem;
	background: #fff;
	border-bottom: 1px solid #eaebea;
	border-top: 1px solid #eaebea;
	line-height: .53rem;
	padding: 0 .15rem;
}
section ul .li2{
	margin-bottom: .11rem;
	margin-top: .11rem;
	
}
section ul .li5{
	width: 100%;
	height: .81rem;

}
section ul .li5 i{
	line-height: .81rem;
}
section ul .li5 .zhu{
	width: 3rem;
	height: .81rem;

}
.li7 i{
	font-size: .18rem;
	display: block;
	margin-left: .05rem;
}

.li5 .span1{
	display: block;
	font-size: .12rem;
	line-height: .18rem;
	color: #d1d2d1;
}
section ul .li12{
	margin-top: .1rem
}
section ul li span{
	font-size: .18rem;
	line-height: .53rem;
	float: left;

}


section ul li i{
	font-size: .36rem;
	line-height: .53rem;
	float: right;
	display: block;

	
}
section ul .li1 i{
	font-size: .18rem;
}
section ul .li4 i{
	color: blue;
}
section ul .li6 i{
	font-size: .18rem;

}