@font-face {
  font-family: 'iconfont';  /* project id 407468 */
  src: url('http://at.alicdn.com/t/font_407468_o6pattftz6r2uik9.eot');
  src: url('http://at.alicdn.com/t/font_407468_o6pattftz6r2uik9.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_407468_o6pattftz6r2uik9.woff') format('woff'),
  url('http://at.alicdn.com/t/font_407468_o6pattftz6r2uik9.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_407468_o6pattftz6r2uik9.svg#iconfont') format('svg');
}
.iconfont{

    font-family:"iconfont" !important;
    /* font-size:16px; */
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
   
}


/* 头部 */
header{
	width: 100%;
	height: .9rem;
	background: #fff;
	position: fixed;
	left: 0;
	top: 0;
	padding: 0 .15rem;
	border-bottom: 1px solid #eae7f2;
	z-index: 999;
}
.top{
	width: 100%;
	height: .45rem;
}
.header-l{
	width: .25rem;
	height: .45rem;
	float: left;
	/* background:orange; */
}
.header-l i{
	font-size: .20rem;
	line-height: .45rem;
	text-align: center;
	float: left;
}
.header-l a{
	color: #333;
}
.header-cen{
	width: 2.95rem;
	/* display: block; */
	height: .45rem;
	font-size: .18rem;
	line-height: .45rem;
	text-align: center;
	float: left;

}
.header-r i{
	width: .4rem;
	float: right;
	font-size: .16rem;
}
.header-btom{
	width: 100%;
	height: .45rem;
	/* background: red; */
}
.header-btom li{
	height: .45rem;
	font-size: .16rem;
	line-height: .45rem;
	float: left;
	margin-right: .27rem;
}
.header-btom li:nth-child(1){
	border-bottom: .02rem solid #333;
}

.header-btom li:nth-child(6){
	margin-right: 0;
}




/* 内容区 */
section{
	width: 100%;
	background: #f7eff7;
	position: absolute;
	left: 0;
	top: .9rem;
	margin-bottom: .45rem;
	right: 0;
	/* padding: 0 .15rem; */
}
section ul li{
	width: 100%;
	height: 1.05rem;
	background: #fff;
	border-bottom: 1px solid #eaeaea;
	border-top: 1px solid #eaeaea;
	padding: 0 .15rem; 
}
section ul li .left{
	width: .98rem;
	height: .73rem;
	/* background: yellow; */
	float: left;
	line-height: .66rem;
	margin-top: .17rem;
}
section ul li .right{
	width: 2.47rem;
	height: 100%;
	/* background: green; */
	float: right;
	
}
section ul li span{
	width: 2.47rem;
	/* background: pink; */
	font-size: .18rem;
	line-height:.2rem;
	display: block;
	margin-top: .25rem;
	margin-left: .15rem;

}
section ul li span:nth-child(2){
	line-height: .2rem;
	margin-top: .15rem;
	color: orange;
}


