@font-face {
  font-family: 'iconfont';  /* project id 407468 */
  src: url('http://at.alicdn.com/t/font_407468_tq9lw1ax46mndn29.eot');
  src: url('http://at.alicdn.com/t/font_407468_tq9lw1ax46mndn29.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_407468_tq9lw1ax46mndn29.woff') format('woff'),
  url('http://at.alicdn.com/t/font_407468_tq9lw1ax46mndn29.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_407468_tq9lw1ax46mndn29.svg#iconfont') format('svg');
}
.iconfont{

    font-family:"iconfont" !important;
    /* font-size:16px; */
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
   
}
b0dy{
	overflow-x: hidden;

}

/* 头部*/
header{
	width: 100%;
	height: .5rem;
	background:#fff;
	padding: 0 .18rem;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}	
.logo{
	width: .29rem;
	height: .45rem;
	/* background: red; */
	float: left;
}
.logo i{
	font-size: .40rem;
	float: left;
	line-height: .45rem;
	color:  #4686ff;
}
.search{
	width: 2.45rem;
	height: .28rem;
	/* background: yellowgreen; */
	float: left;
	margin-left: .24rem;
	margin-top: .11rem;
}
.search input{
	width: 100%;
	height: 100%;
	background:#f5f5f5;
	float: left;
	border: none;
	
}
.info{
	width: .19rem;
	height: .28rem;
	/* background: #f0f0f0f0; */
	float: right;
	margin-top:.09rem;
}
.info i{
	font-size: .18rem;
	float: right;
	line-height: .28rem;
	color: #000;

}
section{
	width: 100%;
	/* background: hotpink; */
	position: absolute;
	left: 0;
	top: .45rem;
	margin-bottom: .45rem;
	right: 0;
}
/* banner */
.banner{
	/* margin-top: .05rem; */
	width: 100%;
	height: 1.95rem;
	background: pink;
	position: relative;
}
.lunbo{
	width: 100%;
	height: 100%;
	background: #fff;
}
.lunbodian{
	width: .6rem;
	height: .06rem;
	/* background: red; */
	position: absolute;
	left: 0;
	bottom: .11rem;
	right: 0;
	margin: auto;
}
.lunbodian ul li{
	width: .06rem;
	height: .06rem;
	background: #fff;
	border-radius: 50%;
	float: left;
	margin-left: .08rem;
}
.lunbodian .l11{
	background: #000;
}

/* banner下一栏 */
.box{
	width:100%;
	height:1.29rem;
	/* background: pink; */
	margin-top: .1rem;
} 
.box ul{
	width: 3.65rem;
	height: 1.09rem;
	/* background: #000; */
	
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	overflow: hidden;
}
.box ul li{
	width: .8rem;
	height: 1.08rem;
	/* background: yellowgreen; */
	float: left;
	margin-right: .15rem;
}

.box .box1{
	margin-right: 0;

}
.box a{
	width: .8rem;
	height: .8rem;
	display: block;
	/* background: red; */
	border-radius: 50%;
}
.box .a1{
	background: url('../img/4.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.box .a2{
	background-image: url('../img/6.jpeg')
}
.box .a3{
	background-image: url('../img/8.jpeg')
}
.box .a4{
	background-image: url('../img/9.jpeg')
}
.box span{
	display: block;
	font-size: 14px;
	color: #000;
	text-align: center;
	margin-top: 5px;

}

/* 推荐 */
.main{
	width: 100%;
	height:1.89rem;
	border-top: 1px solid #bbbbbb;
	padding: .15rem;
	/* background: #000; */
}
.main-top p{
	font-size: 16px;
}
.main-img{
	width: 100%;
	height: .64rem;
	/* background: red; */
	margin-top: .15rem;
}
.main-img1{
	width: 1.12rem;
	height: 100%;
	background-image: url('../img/12.jpg');
	background-size:cover;
	float: left;
	margin-right: .034rem;

	/* background: orangered; */
}
.main-img2{
	background-image: url('../img/4.jpeg');
}
.main-img3{
	background-image: url('../img/6.jpeg');
	margin-right: 0;
}
.main-wenzi p{
	font-size: .12px;
	float: left;
	margin-right: .1rem;
	margin-top: .15rem;
	color: #666666;
}
.main-img4{
	background: url('../img/5.jpeg');
	background-size: 100%;
	background-position: center;
}
.main-img5{
	background: url('../img/car2.jpeg');
	background-size: 100%;
	background-position: center;
}
.main-img6{
	background: url('../img/car3.jpeg');
	background-size: 100%;
	background-position: center;
}

/* 底部栏 */
footer{
	width: 100%;
	height: .50rem;
	background: #fff;
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 0 .16rem;
	border-top: 1px solid #f5f5f5;

}
footer ul li{
	width: .5rem;
	height: .5rem;
	/* background: orangered; */
	float: left;
	margin-right:.23rem;

}
footer ul li:hover{
	color: #4686ff;
}
footer ul li i:hover{
	color: #4686ff;
}


footer .foot-ico{
	margin-right: 0;
}

 footer ul li i{
 	width: 100%;
 	height: .24rem;
	display: block;
	font-size: .24rem;
	color: #000;
	line-height: .24rem;
	text-align: center;
	margin-top: .05rem;
}


 footer ul li span{
 	display: block;
 	font-size: .14rem;
 	text-align: center;
 	margin-top: .02rem;
 }
