@font-face {
  font-family: 'iconfont';  /* project id 407468 */
  src: url('http://at.alicdn.com/t/font_407468_lfyc02y6pm5z5mi.eot');
  src: url('http://at.alicdn.com/t/font_407468_lfyc02y6pm5z5mi.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_407468_lfyc02y6pm5z5mi.woff') format('woff'),
  url('http://at.alicdn.com/t/font_407468_lfyc02y6pm5z5mi.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_407468_lfyc02y6pm5z5mi.svg#iconfont') format('svg');
}

.iconfont{

    font-family:"iconfont" !important;
    /* font-size:16px; */
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
   
}
/* 头部区域 */
header{
	width: 100%;
	height: .45rem;
	border-bottom: 1px solid #edebed;
	padding: 0 .15rem;
	background:#fff;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
}
header ul li{
	/* width: .34rem; */
	height: .44rem;
	/* background: orangered; */
	float: left;
	margin-right: .23rem;
	font-size: .16rem;
	line-height: .44rem;
	color: #b0aeb0;
	
}
header ul li:hover{
	color: #000;
	border-bottom: 2px solid #000;
}
header ul .header-li2:hover{
	
	border-bottom: none;
}
.header-li1{
	margin-left: .51rem;
}
.header-li2{
	margin-right: 0;
	color: #000;
}
.header-li2 i{
	font-size:.26rem;
}



/* 内容区域 */
section{
	width: 100%;
	background:#fdf8fd;
	position: absolute;
	left: 0;
	right: 0;
	top: .45rem;
	margin-bottom: .5rem;
	/* -overflow-x: hidden;
	-overflow-y:  */
}
.content1{
	width: 100%;
	height: .87rem;
	background: #fff;
}
.content1 ul{
	width: 3.49rem;
	height: 100%;
	margin: 0 auto;
}
.content1 ul li{
	width: .57rem;
	height: 100%;
	color: #565656;
	float: left;
	margin-right: .16rem;
}
.content1 .li5{
	margin-right: 0;
}
.content1 ul li i{
 	display: block;
 	width: 100%;
 	height: .3rem;
 	font-size: .3rem;
 	line-height: .3rem;
 	text-align: center;
 	margin-top: .15rem;

}
.content1 ul li span{
	width: 100%;
	line-height: .3rem;
	display: block;
	font-size: .14rem;
	margin-top: 0;
}

/* 内容2 */

.content2{
	width: 100%;
	height: 1.38rem;
	background: #fff;
	padding: 0 .13rem;
	margin-top: .1rem;
	
}
.content2 ul li{
	width: .8rem;
	height: .26rem;
	color: #868586;
	float: left;
	margin-top: .14rem;
	margin-right: .07rem;
	font-size: .14rem;
	line-height: .26rem;
	text-align: center;

	
}
.content2 ul li i{
	font-size: .14rem;
	margin-right: .02rem;
	color: blue;
}
.content2 ul li:hover{
	color: #508fff;
}
/* 内容3 */
.content3{
	width: 100%;
	height: 1.2rem;
	background: #fff;
	padding: 0 .15rem;
	/* margin-top: .1rem; */
}
.conten3-top{
	width: 100%;
	height: .4rem;
	/* background: pink; */

}
.content3-top .content3-a1{
	display: block;
	font-size: .18rem;
	line-height: .4rem;
	float: left;
	color: #000;
}
.content3-top .content3-a2{
	display: block;
	font-size: .14rem;
	line-height: .4rem;
	float: right;
	color: #000;
}
.content3-img{
	width: 1.1rem;
	height: .64rem;
	line-height: .64rem;

}
/* 内容4 */
.content4{
	width: 100%;
	height: 1.83rem;
	background: #fff;
	padding: 0 .15rem;

}
.content4-top{
	width: 100%;
	height: .37rem;
	/* background: pink; */
	font-size: .18rem;
	line-height: .37rem;
	
}
.content4-top a{
	color: #000;
}
.content4-img{
	width: 100%;
	height: 1.46rem;
	/* background: #000; */

}
.content4-img ul li{
	width: .98rem;
	height: .68rem;
	/* background: blue; */
	float: left;
	margin-right:.25rem;
	margin-bottom:.07rem;
}
.content4-img .content4-li3{
	margin-right: 0;
}
.content4-img .content4-img1{
	width: 100%;
	height: .5rem;
	line-height: .5rem;
	margin-top:-.15rem;
	

}
.content4-img .content4-wenzi{
	width: 100%	;
	height: .18rem;
	font-size: .14rem;
	line-height: .18rem;
	text-align: center;
	margin-top:.14rem;
	color: #565856;
}

/* 内容5 */
.content5{
	width: 100%;
	height: 4rem;
	background: #fff;
	padding: 0 .16rem;
	margin-top: .2rem;
}
.content5-top{
	width: 100%;
	height: .32rem;
	/* background: pink; */
	font-size: .22rem;
	line-height: .32rem;
}
.content5-btom{
	width: 100%;
	height: 3.68rem;
	/* background: gray; */
}
.content5-btom ul li{
	width: 100%;
	height: .62rem;
	/* background: red; */
}
.content5-btom ul li i{
	display:block;
	width: .4rem;
	height: .62rem;
	/* background: lightyellow; */
	float: left;
	font-size: .28rem;
	line-height: .62rem;
	text-align: center;

}
.content5-btom ul li a{
	display: block;
	width: 2.6rem;
	height: .62rem;
	border-bottom: 1px solid #ecedec;
	border-top: 1px solid #ecedec;
	/* background: yellow; */
	float: right;
	font-size: .14rem;
	line-height: .62rem;
	margin-left: .3rem;
}






/* 底部区域 */

footer{
	width: 100%;
	height: .50rem;
	background: #fff;
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 0 .16rem;
	border-top: 1px solid #f5f5f5;

}
footer ul li{
	width: .5rem;
	height: .5rem;
	/* background: orangered; */
	float: left;
	margin-right:.23rem;

}
footer .foot-ico{
	margin-right: 0;
}

 footer ul li i{
 	width: 100%;
 	height: .24rem;
	display: block;
	font-size: .24rem;
	color: #000;
	line-height: .24rem;
	text-align: center;
	margin-top: .05rem;
}
footer ul li i:hover{
	color: #4686ff;
}
footer ul li:hover{
	color: #4686ff;
}



 footer ul li span{
 	display: block;
 	font-size: .14rem;
 	text-align: center;
 	margin-top: .02rem;
 }

